<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diary.today.mapper.diary.DiaryMapper">

    <resultMap id="BaseResultMap" type="Diary">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="view_count" property="viewCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="writer_id" property="writerId"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

    <sql id="columns">
        ${alias}id AS ${prefix}id
        , ${alias}title AS ${prefix}title
        , ${alias}content AS ${prefix}content
        , ${alias}view_count AS ${prefix}view_count
        , ${alias}like_count AS ${prefix}like_count
        , ${alias}writer_id AS ${prefix}writer_id
        , ${alias}create_date AS ${prefix}create_date
        , ${alias}update_date AS ${prefix}update_date
    </sql>

    <select id="search" parameterType="Diary" resultMap="BaseResultMap">
        SELECT
        <include refid="columns">
            <property name="alias" value=""/>
            <property name="prefix" value=""/>
        </include>
        FROM diary
    </select>

    <select id="fetch" parameterType="Diary" resultMap="BaseResultMap">
        SELECT
        <include refid="columns">
            <property name="alias" value=""/>
            <property name="prefix" value=""/>
        </include>
        FROM diary
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="Diary">
        INSERT INTO diary (
        id
        , title
        , content
        , writer_id
        ) VALUES (
        #{id}
        , #{title}
        , #{content}
        , #{writerId}
        )
    </insert>

    <update id="update" parameterType="Diary">
        UPDATE diary
        SET
        update_date = current_timestamp
        <if test="null != title and '' != title">
            , title = #{title}
        </if>
        <if test="null != content and '' != content">
            , content = #{content}
        </if>
        <if test="null != viewCount">
            , view_count = #{viewCount}
        </if>
        <if test="null != likeCount">
            , like_count = #{likeCount}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Diary">
        DELETE FROM diary WHERE id = #{id}
    </delete>

</mapper>